
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// custom
$dark_blue_green: rgb(57, 95, 119);
$ash_blue_green: rgb(179, 206, 207);
$non_bright_red: rgb(180, 62, 75);
$non_bright_yellow: rgb(236, 166, 68);
$apple_green: rgb(146,164,78);
