// Variables
@import 'variables';

html {
  box-sizing: border-box;
  height: 100%;

  body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;

    .navbar-laravel {
      font-family: 'Sniglet', cursive;
      background-color: $dark_blue_green;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
      
      .navbar-brand {
        font-size: 1.5rem;
      }
    }

    .nav-item {
      .dropdown-menu {
        .dropdown-item {
          color: $dark_blue_green;

          &:focus {
            background-color: $dark_blue_green;
          }
        }
      }
    }

    footer {
      background-color: $dark_blue_green;
      color: rgba(255, 255, 255, 0.5);
      text-align: center;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}