@import '../../variables';

.btn-create-category {
  background-color: $apple_green;
  color: white;
  outline-color: $apple_green;

  &:hover {
    color: $apple_green;
    background-color: white;
    border-color: $apple_green;
  }
}

table {
  color: $dark_blue_green !important;

  th {
    &:nth-child(3), &:nth-child(1) {
      width: 20%;
    }
  }
  
  tr {
    td {
      vertical-align: middle !important;

      a {
        color: $apple_green;

        &:hover {
          color: $apple_green;
          opacity: 0.7;
        }
      }

      &:last-child {
        .btn {
          color: white;

          &:hover {
            opacity: 0.7;
          }
        }

        .btn-add {
          background-color: $ash_blue_green;
        }

        .btn-edit {
          background-color: $non_bright_yellow;
        }

        .btn-delete {
          background-color: $non_bright_red;
        }
      }
    }
  }
}